/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/
@supports (text-stroke: 1px #fff) or (-webkit-text-stroke: 1px #fff) {
  .card__image-container {
    -webkit-text-stroke: 1px #fff;
    text-stroke: 1px #fff;
    text-shadow: none;
  }
}

.page {
  min-inline-size: 320px;
  max-inline-size: 1440px;
  min-block-size: 100dvb;
  font-family: var(--Inter, "Arial", sans-serif);
  font-variation-settings: "wght" var(--card-text-weight, 410);
  background-color: var(--bg-color);
  background-image: var(--background-gradient);
  background-size: cover;
  background-attachment: fixed;
  margin: 0 auto;
}

.container {
  inline-size: var(--container-width);
  border: 2px solid var(--accent-color, #000);
}

.header {
  margin: 0 auto;
  margin-block-start: 98px;
  margin-block-end: 96px;
  background-color: var(--bg-color, #fff);
  font-family: var(--PressStart2P, "Courier New", sans-serif);
  text-transform: uppercase;
  text-align: center;
  padding-block: clamp(7.625rem, 7.449rem + 0.751vi, 8.125rem);
}

.header__logo {
  font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
  padding-block-end: 20px;
}

.header__heading {
  font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
}

.card-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
}

.card {
  background-color: var(--bg-color, #fff);
}

.card__heading {
  font-variation-settings: "wght" var(--card-title-weight, 715);
  font-size: 1.125rem;
  padding: 5px 10px 3px;
  min-height: 30px;
}

.card__image-container {
  position: relative;
}

.card__label {
  position: absolute;
  color: var(--accent-color, #000);
  font-family: var(--PressStart2P, "Courier New", sans-serif);
  text-transform: uppercase;
  font-size: 0.875rem;
  inset-inline-end: 25px;
  inset-block-start: 27px;
  opacity: 50%;
  mix-blend-mode: hard-light;
  -webkit-text-stroke: 1px var(--text-stroke-color, #fff);
  text-shadow:
    -1px 0 var(--text-stroke-color, #fff),
    0 1px var(--text-stroke-color, #fff),
    1px 0 var(--text-stroke-color, #fff),
    0 -1px var(--text-stroke-color, #fff);
}

.card__image {
  box-sizing: content-box;
  object-fit: cover;
  object-position: center;
  aspect-ratio: 1/1;
  inline-size: 100%;
  block-size: 100%;
  border-block: 2px solid var(--accent-color, #000);
}

.card__text-container {
  padding: 21px 25px;
}

.text-container {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.card__text {
  font-size: 1.125rem;
  line-height: 1.3125rem;
}

.card__buttons {
  display: flex;
  align-items: center;
  justify-content: right;
  padding-block-start: 23px;
}

.card__icon-button {
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  inline-size: 43px;
  block-size: 40px;
  overflow: hidden;
  border: 2px solid transparent;
  transition: border 0.3s ease;
}

.card__icon-button:focus-visible {
  border: 2px solid var(--accent-color, #000);
}

.card__icon-button:focus {
  outline: none;
}

.card__text-button {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid var(--accent-color, #000);
  background-color: var(--bg-color, #fff);
  min-inline-size: 130px;
  min-block-size: 38px;
  padding-inline: 20px;
  cursor: pointer;
  transition: box-shadow 0.3s ease;
}

.card__text-button:focus-visible {
  outline: none;
  box-shadow: 2px 2px var(--accent-color, #000);
}

.card__text-button::after {
  position: absolute;
  content: "";
  transform-origin: left;
  inline-size: 100%;
  block-size: 100%;
  background-color: var(--accent-color);
  transform: scaleX(0);
  transition: transform 0.5s ease-in-out;
}

.card__text-button:hover::after {
  transform: scaleX(1);
}

.card__text-button_icon {
  min-block-size: 55px;
  gap: 8px;
}

.button__text {
  position: relative;
  font-family: var(--PressStart2P, "Courier New", sans-serif);
  font-size: 0.875rem;
  line-height: 0.7875rem;
  z-index: 1;
  color: var(--text-hover-color, #fff);
  mix-blend-mode: difference;
}

.floppy-icon {
  position: relative;
  z-index: 1;
  mix-blend-mode: difference;
}

.dialog {
  inline-size: 353px;
  padding: 30px;
  border: 2px solid var(--accent-color, #000);
}

.dialog__text-container {
  display: flex;
  gap: 20px;
  align-items: center;
  padding-block-end: 30px;
}

.dialog__text {
  font-family: var(--PressStart2P, "Courier New", sans-serif);
  font-size: 0.875rem;
  line-height: 1.3125rem;
  text-transform: uppercase;
  inline-size: 100%;
}

.dialog__button {
  inline-size: 100%;
}

.dialog::backdrop {
  background-color: rgba(0, 0, 0, 0.75);
}

@media (width <= 375px) {
  .card__text-button_icon {
    flex-direction: column;
    padding: 15px 18px;
    inline-size: 306px;
  }
}

.decoration-0-sprint {
  filter: brightness(1.2) saturate(1.1) hue-rotate(10deg);
}

.decoration-1-1-sprint {
  filter: saturate(1.2);
}

.decoration-1-2-sprint {
  filter: contrast(1.2) grayscale(1);
}

.decoration-2-1-sprint {
  filter: brightness(1.1) saturate(1.3);
}

.decoration-2-2-sprint {
  filter: brightness(1.2) sepia(0.5);
}

.decoration-3-1-sprint {
  filter: saturate(1.3) contrast(1.1);
}

.decoration-3-2-sprint {
  filter: saturate(1.2) hue-rotate(10deg);
}

.decoration-4-sprint {
  filter: sepia(0.2) contrast(1.2) grayscale(1);
}

.core {
  transition: fill 0.3s linear 0.03s;
}

.main-body {
  transition: fill 0.3s linear;
}

.contour {
  transition: fill 0.1s linear;
}

.sparks {
  opacity: 0;
}

.like-icon:hover .core {
  fill: var(--accent-color, #000);
  transition: fill 0.3s linear;
}

.like-icon:hover .main-body {
  fill: var(--accent-color, #000);
  transition: fill 0.3s linear 0.05s;
}

.like-icon:active .core {
  fill: var(--animation-fill-color, #ff0000);
  transition: fill 0.3s linear;
}

.like-icon:active .main-body {
  fill: var(--animation-fill-color, #ff0000);
  transition: fill 0.3s linear 0.05s;
}

.like-icon.is-liked .core {
  fill: var(--animation-fill-color, #ff0000);
  transition: fill 0.3s linear;
}

.like-icon.is-liked .main-body {
  fill: var(--animation-fill-color, #ff0000);
  transition: fill 0.3s linear 0.05s;
}

.like-icon.is-liked .contour {
  fill: var(--animation-fill-color, #ff0000);
  transition: fill 0.3s linear 0.06s;
}

.like-icon.is-liked {
  animation: heart 0.3s ease-in 0.1s;
  transform-origin: center;
}

.like-icon.is-liked .sparks {
  animation: sparks 0.3s ease-in 0.3s;
  transform-origin: center;
}
