/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/
@supports (text-stroke: 1px #fff) or (-webkit-text-stroke: 1px #fff) {
  .card__image-container {
    -webkit-text-stroke: 1px #fff;
    text-stroke: 1px #fff;
    text-shadow: none;
  }
}

.page {
  min-inline-size: 320px;
  max-inline-size: 1440px;
  min-block-size: 100dvb;
  font-family: var(--Inter, "Arial", sans-serif);
  font-variation-settings: 'wght' var(--card-text-weight, 410);
  background-image: var(--background-gradient);
  background-size: cover;
}

.container {
  width: var(--container-width);
  border: 2px solid #000;
}

.header {
  margin: 0 auto;
  margin-block: 100px;
  background-color: #fff;
  font-family: var(--PressStart2P, "Courier New", sans-serif);
  text-transform: uppercase;
  text-align: center;
  padding-block: clamp(7.625rem, 7.449rem + 0.751vi, 8.125rem);
}

.header__logo {
  font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
  padding-block-end: 20px;
}

.header__heading {
font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
}

.card {
  background-color: #fff;
}

.card__heading {
  font-variation-settings: 'wght' var(--card-title-weight, 715);
  font-size: 18px;
}

.card__image-container {
  position: relative;
}

.card__image-container::before {
  content: '</HTML>';
  position: absolute;
  color: #000;
  font-family: var(--PressStart2P, "Courier New", sans-serif);
  font-size: 0.875rem;
  inset-inline-end: 25px;
  inset-block-start: 25px;
  opacity: 50%;
  mix-blend-mode: hard-light;
  -webkit-text-stroke: 1px var(--text-stroke-color, #fff);
  text-shadow:
  -1px 0 var(--text-stroke-color, #fff), 
  0 1px var(--text-stroke-color, #fff), 
  1px 0 var(--text-stroke-color, #fff), 
  0 -1px var(--text-stroke-color, #fff);
}

.card__image {
  object-fit: cover;
  object-position: center;
  inline-size: 100%;
  block-size: 100%;
}

.card__text-container {
  padding: 25px;
}

.card__text {
  font-size: 1.125rem;
  line-height: 1.3125rem;
  padding-block-end: 25px;
}

.card__buttons {
  display: flex;
  align-items: center;
  justify-content: right;
  gap: 7px;
}

.card__icon-button {
  border: none;
  background-color: transparent;
}

.like-icon {

}

.card__text-button {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid #000;
  background-color: #fff;
  min-inline-size: 118px;
  min-block-size: 38px;
  padding-inline: 20px;
}

.card__text-button_icon {
  min-block-size: 55px;
  gap: 8px;
}

.button__text {
  font-family: var(--PressStart2P, "Courier New", sans-serif);
  font-size: 0.875rem;
  line-height: 0.7875rem;
}
