/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root {
  --Inter: "Inter-Variable"; 
  --PressStart2P: "PressStart2P";
  --card-text-weight: 410;
  --card-title-weight: 715;

  --background-gradient: 
    repeating-linear-gradient(#d3d3d3 0px 2px, transparent 2px 4px),  repeating-linear-gradient(90deg, #d3d3d3 0px 2px, transparent 2px 4px),
    linear-gradient(to bottom, #e7e7e7 0.01%, #1a1a1a);

  --text-stroke-color: #fff;
  --accent-color: #000;
  --text-hover-color: #fff;
  --bg-color: #fff;
  --contour-color: #000;
  --animation-fill-color: #FF0000;

  --container-width: clamp(23.438rem, 16.285rem + 30.516vi, 43.75rem);
}